/* NOTA: EL CONTENEDOR DE ESTE COMPONENTE DEBE TENER
POSITION RELATIVE */

.dark {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000087;
    z-index: 1;
}

.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>') no-repeat right .75rem center/16px 16px;
    padding-right: 30px; /* Ajusta este valor según el tamaño de la flecha */
    background-size: 30px;
}