.mainmenu {
    margin: 40px 50px;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 10;
    width: 90%;
}

.mainmenu-items {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.mainmenu-items li a {
    color: white;
    padding: 0px 20px;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}